.App {
  text-align: left;
  margin: auto;
  display:flex;
  justify-content: start;
}

.App > nav ul {
  list-style-type:none;
  margin:0;
  padding:20px;
}
.App > nav ul li {
  padding:5px 0;
}
.App > .content {
  margin:0;
  padding:20px;
}

h2 {
  margin-top:0;
}