$section-padding: 10px 20px;
$color-primary: #333;

.App {
  text-align: left;
  margin: auto;
  display:flex;
  justify-content: start;
  & > .nav-side {
    width: 120px;
    a {
      text-decoration: none;
      &.active {
        font-weight:bold;
        color: #333;
      }
    }
    ul {
      list-style-type:none;
      margin:0;
      padding: $section-padding;
      li {
        padding:5px 0;
      }
    }
  }
  & > .content {
    margin:0;
    padding: $section-padding;
  }
  h2 {
    margin-top:0;
  }
  /* Table style */
  .table {
    border-collapse: collapse;
    width: 100%;
    thead {
      box-shadow: #aaa 1px 1px 2px
    }
    tbody tr {
      border-bottom: solid #eee 1px;
    }
    th {
      padding: 10px;
      background-color: #333;
      color: white;
      cursor: pointer;
      .fa-chevron-up, .fa-chevron-down {
        position: absolute;
        right:-18px;
        top: 3px;
      }
      span {
        position: relative;
      }
    }
    th, td {
      padding: 10px;
    }
    td {
      .number-column {
        text-align:right;
      }
      .actions {
        white-space: nowrap;
      }
    }
    thead tr th {
      font-weight: bold;
    }
  }
  button {
    background-color: $color-primary;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom:5px;
    &:hover {
      cursor: pointer;
      background: lighten($color-primary, 10%);
    }
    &.space {
      margin-right:5px;
    }
  }
}

.header-top{
  padding: $section-padding;
  background-color: $color-primary;
  color: white;
  font-weight:bold;
}